* {
  outline: red 1px;
}
.container {
  display: flex;
  /* text-align: center; */
  align-items: flex-start;
  justify-content: space-between;
}

.sidebar {
  width: 20%;
  height: 100vh;
  position: fixed;
  background-color: brown;
}

.videoTube {
  width: 1000px;
  right: 0;
  left: auto;
  position: absolute;
  /* position: relative; */
}

.gapContain {
  margin-bottom: 60px;
}
